*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}

/* Nav/Header */
header{
    position: fixed;
    width: 100%;    
    display: flex;
    justify-content: center;
    background-color: #ff6900;
    position: fixed;
}

/* Navigation bar */
    nav{
        width: 80%;
        /* [Debug] */
        height: 50px;

        border: #000 solid 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .clothing{
            width: 300px;
            border: #000 solid 1px;
            
        }
        
            .genre{
                display: inline-block;
                margin-right: 2%;
                color: #fff;
            }

        .booleando{
            width: 300px;
            border: #000 solid 1px;
           
        }

            .logo{
                width: 300px;
                height: 30px;
                background-image: url(../img/boolean-logo.png);
                background-size: contain;
                background-repeat: no-repeat;
            }

        .utilities{
            width: 300px;
            border: #000 solid 1px;
               
        }
    
            .lcons{
                width: 300px;
                height: 50px;
                background-color: blueviolet;
            }






/* Main/Shop */
main{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: ; */
}

    .shop{
        width: 80%;
        /* [Debug] */
        height: 800px;

        border: #000 solid 1px;
        background-color: antiquewhite;
    }





/* Footer */
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #000;
}

    .details{
        width: 80%;
        /* [Debug] */
        height: 50px;

        border: #fff solid 1px;
    }
